
body {
	background-color: #1d1d1d;
	font-family: Signika Negative, sans-serif;
	color: #989898;
	margin: 0px;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: "Signika Negative", sans-serif;
	margin: 10px 0 10px 0;
	color: #f3f2ef;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

p {
	line-height: 22px;
	margin-bottom: 16px;
}

#demo {
	height: 100%;
	position: relative;
}

.box {
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 6px;
	margin-top: 4px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	color: #333;
}

.green {
	background-color: #6fb936;
}

.orange {
	background-color: #f38630;
}

.grey {
	background-color: #989898;
}

button {
	display: inline-block;
	outline: none;
	border: none;
	padding: 8px 14px;
	background: #414141;
	background-image: linear-gradient(to bottom, #575757, #414141);
	text-shadow: 0px 1px 0px #414141;
	box-shadow: 0px 1px 0px #414141;
	color: #ffffff;
	text-decoration: none;
	margin: 0 auto;
	border-radius: 4px;
	padding: 12px 25px;
	font-family: "Signika Negative", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	font-size: 13px;
	line-height: 18px;
}

button:hover {
	background: #57a818;
	background-image: linear-gradient(to bottom, #57a818, #4d9916);
	text-shadow: 0px 1px 0px #32610e;
	box-shadow: 0px 1px 0px #fefefe;
	color: #ffffff;
	text-decoration: none;
}

.brandBar {
	position: absolute;
	width: 100%;
	height: 40px;
	z-index: 1000;
	line-height: 40px;
	color: #ccc;
	padding-left: 0px;
}

.brandBar img {
	position: absolute;
	width: 90px;
	right: 20px;
	top: 12px;
}

.wrapper {
	position: absolute;
	padding: 20px;
}

.content {
	margin: 20px;
	padding-top: 40px;
	max-width: 500px;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	margin: 0;
	padding: 10px;
	z-index: 99999;
}
